.Login{
    height:100vh;
    display: flex;
    flex-direction: column;
    
    justify-content: start;
    
}

.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;    
}

.title{
    grid-column: 2;
    justify-self: center;
    font-family: 'Bebas Neue', cursive;
    margin-top: 8px;
}

.header img{
    grid-column: 1;
    justify-self: start;
    margin: 5px 15px;
}

.form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
    background-color: white;
}

.form div  h2{
    color: black;
    font-weight: bold;
    padding: 2px;
}

.form div form{
    display: flex;
    flex-direction: column;
}

.form div form input{
    border-radius: 15px;
    border: transparent;
    margin: 7px 0;
    padding: 5px;
    background-color: lightgray;
}
::placeholder{color:  rgb(49, 48, 48)}

.form div form button{
    padding: 0.5rem 0;
    background: #b6b6b6;
    border: 0;
    border-radius: 15px;
    color: rgb(49, 48, 48);
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: filter 0.2s;
}

.form div form button:hover{
    filter: brightness(90%);
}